<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>✂ Cyrulik ✂</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
    {% style "/css/bulma-calendar.min.css" %}
    {% script "/js/bulma-calendar.min.js" %}
    <script type="text/javascript">
      function formatDate(dateStr) {
        const date = new Date(dateStr)
        console.log("Datestr: ", dateStr);
        const d = date.toLocaleDateString(
          'pl-pl',
          {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          }
        );
        const t = date.toLocaleTimeString("pl-PL");
        document.getElementById("datetime").innerHTML = d + ' ' + t;
      }
      function checkStatus(dateStr) {
        maxDataAge = 6; // minutes
        const date = new Date(dateStr);
        const now = Date.now();
        const utc_date =  Date.UTC(
          date.getUTCFullYear(),
          date.getUTCMonth(),
          date.getUTCDate(),
          date.getUTCHours(),
          date.getUTCMinutes(),
          date.getUTCSeconds());

        const diff = now - utc_date;

        if (diff > maxDataAge * 60 * 1000) {
          document.getElementById("status").innerHTML = "Dane zostały zjedzone przez kota 🐱";
        } else {
          document.getElementById("status").innerHTML = "Świeżutkie dane, prosto z pieca 🍞";
        }
      }
    </script>
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar is-dark">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">cyrulik</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                <div class="navbar-start">
                  <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Główna</a>
                  <a href="/speluncae" class="navbar-item{% ifequal page "speluncae.html" %} is-active{%endifequal%}">Speluncae</a>
                   <a href="/metric" class="navbar-item{% ifequal page "metrics.html" %} is-active{%endifequal%}">Ciepłość</a>
                  <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}">A co to?</a>
                  <a href="/logout" class="navbar-item is-active">Wyloguj</a>
                </div>
              </div>
          </div>
      </nav>
      <div class="columns">
        <div class="column is-one-third is-home-left-column">
          <section class="section">
            <img src="/img/cyrulik.png" />
          </section>
        </div>
      <div class="column is-two-thirds is-home-right-column">
        <section class="section">
          <div class="container">
            {% block content %}
            {% endblock %}
          </div>
        </section>
      </div>
      </div>

    <!-- scripts -->
      <script type="text/javascript">
        (function() {
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
          });
        })();

        // Initialize all input of date type.
        const calendars = bulmaCalendar.attach('[type="datetime"]', {type: "datetime", dateFormat: "YYYY-MM-DD"});

        // Loop on each calendar initialized
        calendars.forEach(calendar => {
	  // Add listener to date:selected event
	  calendar.on('date:selected', date => {
		console.log(date);
	  });
        });

        {% block page-scripts %}
        {% endblock %}
      </script>
  </body>
</html>
