{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="content">
    <div class="box">
      <p id="status"></p>
      <strong><p id="datetime"></p></strong>
      {% for item in metric%}
        <script>
          formatDate("{{item.date}}Z");
          checkStatus("{{item.date}}Z");
        </script>
        <p>Tempertura: <strong>{{item.temperature}}°C</strong></p>
        <p>Wilgotność: <strong>{{item.humidity}}%</strong></p>
      {% endfor %}
    </div>
    <div class="box">
      <div id="plot-temp"></div>
      <div id="plot-humid"></div>
    </div>
  </div>
  <script>
    var temp = [
      {
        x: {{ dates|safe }},
        y: {{ temperatures|safe }},
        type: 'scatter'
      }
    ];
    var humid = [
      {
        x: {{ dates|safe }},
        y: {{ humidities|safe }},
        type: 'scatter'
      }
    ];
    Plotly.newPlot('plot-temp', temp);
    Plotly.newPlot('plot-humid', humid);
  </script>
</section>
{% endblock %}

